[Unit]
Description=ABLS Agent TeleinfoEDF (%i)
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/abls-agent-teleinfoedf --agent-tech-id=%i
DynamicUser=yes
SupplementaryGroups=abls dialout
StateDirectory=abls-agent-teleinfoedf/%i
WorkingDirectory=%S/abls-agent-teleinfoedf/%i
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
